* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #f5f6fa;
}

.container {
  display: flex;
  height: 100vh;
}

/* SIDEBAR */
.sidebar {
  width: 300px;
  background: #1e272e;
  color: white;
  padding: 20px;
  overflow-y: auto;
}

.sidebar h2 {
  margin-bottom: 15px;
}

.sidebar input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
  outline: none;
}

.sidebar ul {
  list-style: none;
}

.sidebar ul li {
  padding: 10px;
  margin-bottom: 8px;
  background: #485460;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
}

.sidebar ul li:hover {
  background: #ffa801;
  color: black;
}

#map {
  flex: 1;
  height: 100vh; /* TAMBAHKAN INI */
}